{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo rem, quidem minima aperiam harum
            eligendi
            similique, nostrum illo, eveniet illum fugit sint corporis suscipit animi odio repellat nisi non. Est omnis
            quis
            fugiat dolores ratione. Sequi doloremque amet ea vel suscipit vitae facere, voluptate asperiores voluptatem,
            accusantium quibusdam magnam, praesentium officiis ab magni dolorum reiciendis nesciunt eveniet. Ipsam
            dolorum aut,
            quisquam maiores consequuntur ullam voluptate molestiae officiis reiciendis. Delectus quos nihil, aliquam
            corrupti
            eveniet omnis maxime blanditiis doloremque perspiciatis quas eum, odio aliquid labore dolores officiis!
            Rerum sit
            reprehenderit quos error labore sint. Quia sequi nulla culpa dolorem sapiente.
        </p>
        
    </section>
</main>


{% endblock %}