{% extends 'loger/layouts/base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-4 text-center">{{ titulo }}</h1>
        <h3>{{ mensaje }}</h3>
        {% if roles %}
        <!-- <p>Tus roles: {{ roles|join:", " }}</p> -->
        {% endif %}
    </section>

    {% if user.is_authenticated %}
    <section class="my-3">
        <h1 class="display-6">Aplicaciones disponibles:</h1>

        <!-- Flex container -->
        <div class="d-flex flex-wrap gap-3 mt-3">

            <!-- Card 1 -->
            <a class="card text-decoration-none bg-dark text-light flex-fill" style="min-width: 200px;" href="{% url 'todoer:task_list' %}">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        Tareas
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e3e3e3">
                            <path
                                d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q65 0 123 19t107 53l-58 59q-38-24-81-37.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-18-2-36t-6-35l65-65q11 32 17 66t6 70q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-56-216L254-466l56-56 114 114 400-401 56 56-456 457Z" />
                        </svg>
                    </h2>
                </div>
            </a>

            <!-- Card 2 -->
            <a class="card text-decoration-none bg-dark text-light flex-fill" style="min-width: 200px;" href="/signup">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        Nuevo usuario
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#e3e3e3">
                            <path
                                d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z" />
                        </svg>
                    </h2>
                </div>
            </a>

        </div>
    </section>
    {% endif %}
</main>
{% endblock %}